{% extends "base.html.twig" %}

{% block title %}

    Créer votre compte

{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">créer votre compte...</h1>

    {# formRegistration : variable Twig qui vient de SecurityController --> registration() --> render() qui contient le formulaire d'inscription #}
    {{ form_start(formRegistration, {'attr': {'class': 'col-md-4 mx-auto' }}) }}

        {{ form_row(formRegistration.username, {'label': "Nom d'utilisateur"}) }}

        {{ form_row(formRegistration.email) }}

        {{ form_row(formRegistration.password, {'label': "Mot de passe"}) }}

        {{ form_row(formRegistration.confirm_password, {'label': "Confirmer mot de passe"}) }}

        <button type="submit"class="btn btn-success">Enregistrer</button>


    {{  form_end(formRegistration) }}

{% endblock %}