{% extends 'base.html.twig' %}

{% block title%}

    Back_Office | Gestion des articles

{% endblock %}

{% block body%}

    <h1 class="display-4 text-center my-5">BACK_OFFICE | Gestion des articles</h1>

    {% for message in app.flashes('success') %}
        <div class="col-md-4 bg-success p-4 rounded mx-auto text-center text-white mb-3">

            {{ message }}

        </div>

    {% endfor %}

    <table class="table table-bordered text-center">

        <tr>
            {# colonnes :variable Twig envoyé via AdminController qui contient tout les noms des champs/colonnes de la table Article #}
            {# oneColonne : variable de reception qui receptionne le nom d'une colonne par tour de boucle FOR #}
            {% for oneColonne in colonnes %}

                {% if oneColonne == 'createdAt' %}

                    <th>DATE</th>

                {% else %}

                    {# upper : filtre twig permettant le nom des collones en majuscule#}
                    <th>{{ oneColonne|upper }}</th>

                {%  endif %}
        
            {% endfor %}

                    <th>CATEGORIES</th>
                    <th>NB COMMENTAIRE</th>

        </tr>

        {# articlesBdd : variable Twig envoyé dans le template par AdminController qui contient tout les articles de la table SQl Article #}
        {# oneArticle : variable de reception qui recptionne 1 article de la BDD par tour de boucle FOR #}
        {% for oneArticle in articleBdd %}
            <tr>
                <td>{{ oneArticle.id }}</td>
                <td>{{ oneArticle.title }}</td>
                <td>{{ oneArticle.content|striptags|slice(0,200) }}</td>
                <td><img src="{{ oneArticle.image }}" alt="{{ oneArticle.title }}" class="img-admin-articles"</td>
                <td>{{ oneArticle.createdAt|date('d/m/y à H:i:s') }}</td>
                <td>{{ oneArticle.category.title }}</td>
                <td>{{ oneArticle.comments|length }}</td>
                
                <td><a href="{{ path('admin_edit_article', {'id': oneArticle.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i></a></td>

                <td><a href="{{ path('admin_remove_article', {'id': oneArticle.id}) }}" class="btn btn-danger" onclick="return(confirm('voulez vous supprimer cet article ?'))"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        
        
        {% endfor %}


    </table>

{% endblock %}