{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Modification article
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">Modification article n° <span class="text-info">{{ idArticle }}</span></h1>

    {{ form_start(formArticle, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

        {{ form_row(formArticle.title, {'label': "Titre de l'article "}) }}

        {{ form_row(formArticle.category, {'label':"Catégorie"}) }}

        {{ form_row(formArticle.content, {'label': "Contenu de l'article", 'attr' : {'rows' : 15} }) }}

        {{ form_row(formArticle.image) }}

        <button type="submit" class="btn btn-secondary mb-5">modification de l'article</button>



    {{ form_end(formArticle) }}
    
{% endblock %}
